body, header {
     background-color: #E9EDEF !important;
}
h1 {
    font-size: 3em !important;
}
h6 {
    font-size: 1.5em !important;
    font-weight: 700 !important;
    font-style: italic;
}
p {
    font-size: 1.5em !important;
}
ul {
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    color: #95989A;
}
li {
    display: inline-block;
    padding: 5% 10pt;
    font-family: times;
    font-size: 28pt;
}
.top-nav {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.top-nav li {
    display: inline;
    width: 30%;
}
.top-nav a {
    display: inline-block;
    margin: 0 auto;
}
a {
    color: gray !important;
}
a:hover {
    color: #05FEFE !important;
}
.selected {
    color: black !important;
    text-decoration: underline !important;
}
.hide {
    display: none;
}
/*header*/
#banner {
    position: relative;
    display: block;
    margin: 0 auto;
    max-height: 70vh;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
#logo {
    cursor: pointer;
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 35vw;
    max-height: 12vh;
    padding-top: 6vh;
}
#lines_1 {
    margin: 0 auto;
    max-width: 1200px;
}
#row_1 {
    display: block;
    text-align: center;
    max-height: 10vh;
}
.top-nav {
    font-family: helvetica neue;
    color: #95989A;
}
/*body*/
.container {
    max-width: 1200px;
    background-color: #E9EDEF;
}
#row_2 {
    display: block;
}
.col-sm-12 {
    padding: 0;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    #lines_2 {
        margin-top: -2%;
        padding: 0;
        width: 100%;
        position: absolute;
        left: -5%;
    }
}
@media only screen and (min-device-width: 768px) {
    #lines_2 {
        margin-top: -1.2%;
        padding: 0;
        width: 100%;
        left: 0;
        position: absolute;
    }
}
@media only screen and (min-device-width: 1200px) {
    #banner {
        max-width: 1300px;
    }
}

.sizer {
    margin-top: 5%;
    max-width: 1200px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
#tile_1 {
    background-color: white;
    background-image: url("../img/tile_1.svg");
}
 #tile_2 {
    background-image: url("../img/tile_2.svg");
   }
 #tile_3 {
    background-image: url("../img/tile_3.svg");
   }
 #tile_4 {
    background-image: url("../img/tile_4.svg");
 }

/*profile*/
.section {
    border: 1px solid red;
    height: 50vh;
    width: 100vw;
    margin: 0 auto;
    max-width: 1300px;
}
/*writings*/
#date_selector {
    width: 80vw;
    margin: 3vh auto;
    padding-bottom: 1.5%;
    max-width: 1300px;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.year {
    font-size: 2em;
    padding-top: 3%;
    padding-left: 10%;
}
.month {
    font-size: 3em;
    padding-left: 15%;
}
.more {
    font-size: 3em;
    padding-left: 15%;
}
.post {
    background-color: white;
    width: 80vw;
    margin: 3vh auto;
    max-width: 1300px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.youtube {
    width: 100%;
}
.content {
    padding:5% 20% 20% 20%;
}
.y {
    display: inline-block;
    font-size: 1em;
    color: black;
}
.d {
    display: inline-block;
    font-size: 3em;
    font-weight: 700;
    color:#05FEFE;
}
hr {
    display: block;
    width: 30%;
    margin-left: 0;
    border-top: 3px solid #05FEFE !important;
}
.a_post {
    float: right;
    padding-top: 5%;
    color: #05FEFE !important;
    text-decoration: underline;
}
.a_post:hover {
    color: black !important;
}
/*footer*/
footer {
    position: relative;
    margin-top: 25vh;
    width: 100vw;
    display: inline-block;
    background-color: #E9EDEF;
    padding-top: 5%;
    text-align: center;
    /*box-shadow: 0 -10px 20px rgba(0,0,0,0.19), 0 -6px 6px rgba(0,0,0,0.23);*/
}
#email_bottom {
        display: block;
        text-decoration: none;
        font-family: times;
        color: #95989A;
        font-size: 18pt;
}
 #copyright {
    display: block;
    color: #95989A;
    font-family: times;
    padding-bottom: 5%;
    margin: 0;
}